html{
    background: url("img/Stars.jpg");
}
body{
    background: rgba(255, 255, 255, 0.85);
    margin: 25px auto;
    padding: 30px 75px;
    border-radius:30px ;
    width: 750px;

}

img {
    width: 500px;
    padding: 0px 100px;
}
input{
    width: 740px;
}